=.venv/
venv/
ENV/
env/
bin/
lib/
include/


__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.ruff_cache/

.env
.secrets
*.key


data/raw/*
data/processed/*
models/*.pkl
models/*.joblib
!data/raw/.gitkeep
!data/processed/.gitkeep

